.App {
  text-align: center;
  font-family: "Lantinghei SC";
  font-size: 0.9em;
}

.content {
  margin: 6.5em 0.5em 0.5em;
}

.flex{
  display: flex;
}

.flex-spacing-container{
  display: flex;
  justify-content: space-between;
  /*align-items: center;*/
}
.flex-align-start{
  display: flex;
  align-items: start;
}

.spin-logo {
  animation: spin-trans infinite 2s linear;
}

@keyframes spin-trans {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/* useless: */
.App-logo {
  animation: spin-trans infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
